<div class='flex justify-between p-4 text-lg rounded bg-bgGray'>
  <div>
    Table
    <p class='text-xl major-under-line after:my-0'>
      <%= seat.title %>
    </p>
    <div>
      <i class="fa-solid fa-person"></i>
      <span class='text-xl text-major'>
        <%= seat.capacity %>
      </span>
    </div>
  </div>
  <button class='relative'>
    <i class=" fa-solid fa-ellipsis-vertical text-slate-200 peer"></i>
    <div class='absolute top-0 right-0 z-10 hidden px-4 py-2 peer-hover:block hover:block bg-bgGray'>
      <%= link_to '#' do %>
        <div class='flex items-center justify-between hover:text-major'>
          edit
          <i class="fa-solid fa-pen-to-square"></i>
        </div>
      <% end %>
    
      <%= link_to '#' do %>
        <div class='flex items-center justify-between text-red-600 hover:text-red-700'>
          Delete
          <i class="ml-2 text-sm fa-solid fa-trash"></i>
        </div>
      <% end %>
    </div>
  </button>
</div>
