<div class='grid grid-cols-7 gap-1 mb-4 text-sm'>
  <%= f.collection_check_boxes :day_of_week_list, TimeModule::DAYOFWEEK, :last, :first do |i| %>
    <div class='flex', data-controller= 'day-of-week' data-restaurant=<%= @restaurant.id %> data-day-of-week-target='button'>
      <%= i.check_box class: 'hidden peer'%>
      <%= i.label class: 'block py-4 px-0 cursor-pointer select-none rounded peer-checked:border-major border m-auto text-center w-full'%>
    </div>
  <% end %>
</div>
