<div class='grid grid-cols-2 mb-4'>
  <div class='text-lg'>
      <%= business_time_f.label :start %>
    <div class='flex'>
      <%= business_time_f.time_select :start, {minute_step: 15}, class: 'rounded-lg h-10 m-auto' %>
    </div>
  </div>

  <div class='text-lg'>
      <%= business_time_f.label :_end %>
    <div class='flex'>
      <%= business_time_f.time_select :_end, {minute_step: 15}, class: 'rounded-lg h-10 m-auto' %>
    </div>
  </div>
</div>