<h1>Seat</h1>
<div class='grid grid-cols-3 gap-4 mt-4'>
  <div class='p-4 bg-white rounded h-fit'>
    <div data-controller='seat-module'>
      <div class='flex items-start justify-between'>
        <h2 class='mb-4 major-under-line'>Seat Modules</h2>
        <div class='relative'>
          <input type="radio" id='setting' class='hidden peer/setting' name='#'/>
          <label for="setting" 
                  class='absolute border-none text-slate-300 hover:text-major peer-checked/setting:invisible fa-solid fa-gear'
                  data-action='click->seat-module#setSetting'></label>  
          <input type="radio" id='close' class='hidden peer/close' name='#'/>
          <label for="close" 
                  class='invisible ml-1 text-lg text-red-500 peer-checked/setting:visible fa-solid fa-xmark hover:text-red-700'
                  data-action='click->seat-module#setClose'> </label>
        </div>
      </div>
      
      <div id='seat_modules'>
        <%= render @seat_modules %>
      </div>
      
      <div id='seat_module_form'>
        <%= render 'admin/seat_modules/form', seat_module: @seat_module, url: admin_restaurant_seat_modules_path(@restaurant) %>
      </div>
    </div>
  </div>

  <div class='col-span-2 p-4 bg-white rounded h-fit' id='seat_list'>
    <%= turbo_frame_tag dom_id(@seat_module, 'seats') do %>
      <%= image_tag 'background.png', class: 'object-contain w-3/5 h-3/5 m-auto block bottom-0 top-0 opacity-70'%>
    <% end %>
  </div>
</div>
